.hamburger-menu{
    width:35px;
    height:30px;
    position: fixed;
    top:15px;
    left:30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.navbar{
    background:black;
    width:30%;
    height:100vh;
    margin-left: -461px;
    transition: all .9s;
    padding: 0;



    .users-container{
        width:100%;
        height:100%;
        background: #fff;

        .header-users{
            background:#261C2C;
            color:#eee;
            width:100%;
            height:4rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .user-phoro{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top:.2rem;
                h4{
                    font-size: 2.5rem;
                }
            }
            h2{
                font-size: 1.5rem;
                margin-right: 2rem;
            }
            .user-phoro{
                background: #3E2C41;
                width:3.5rem;
                height:3.5rem;
                border-radius: 5rem;
                margin-right: 1.5rem;
            }
        }
    }

    .search{
        background:#fff;
        display: flex;
        align-items: center;
        height:5rem;
        padding:.5em;
        padding-top: 1.5rem;
        input{
            border-radius:0 2rem 2rem 0;
            box-shadow: none;
            border-left: none;
            
            
        }
        #basic-addon1{
            background: none;
            border-right: none;
            border-radius: 2rem 0 0 2rem;
            padding-left:1rem;
            .bx-search-alt-2{
                font-size: 1.5rem;
            }
        }
     
        
    }
    .users{
        margin-top: 2rem;
        overflow-y: auto;
        overflow-x: hidden;
        height:70%;
        padding-top: .5rem;
        ul{
            padding: 0;
        }
        
        li{
            list-style: none;
            margin-bottom: .7rem;
            transition: all .3s;
            &:hover{
                border-left: 8px solid #eee;
                // padding-left: .7rem;
                // outline: 1px solid rgba(0,0,0,.1);
                background: #eee;
            }
        }
        .nav-link{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .logo-user{
                background: palevioletred;
                width:3rem;
                height:3rem;
                border-radius: 4rem;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: .2rem;
                margin-left: 1.5rem;
                h4{
                    font-size: 2.2rem;
                    color: #fff;
                }
            }
            h3{
                max-width:200px;
                font-size: 1.4em;
            }
        }
    }
    
}
.change{
    margin-left: 0;
}
.line{
    width:100%;
    height:3px;
    background:#000;
    transition: all .9s;

}

.change .line-1{
    transform: rotateZ(-405deg) translate(-8px, 6px);
    background: #eee;
}

.change .line-2{
    opacity: 0;
}

.change .line-3{
    transform: rotateZ(405deg) translate(-8px, -6px);
    background: #eee;

}

